/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-top: 95px;
  background-image: var(--complex-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: var(--header-container-height);
  width: var(--header-container-width);
  border: var(--border-default);
  font-family: var(--font-heading);
  font-weight: var(--font-variation-settings);
  background-color: var(--stroke-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 103px;
}

.header__title {
  font-family: var(--font-heading);
  font-variation-settings: "wght" var(--font-weight);
  font-size: 49px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.4423rem + 1.8462vw, 23px);
}

.content {
  width: var(--header-container-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--stroke-color);
  border: var(--border-default);
  margin-bottom: 51px;
}

.content_title {
  font-family: var(--font-family);
  font-variation-settings: "wght" var(--font-weight);
  font-size: 18px;
  padding: 4px 10px;
}

.image-container {
  display: block;
  min-height: 371px;
  overflow: hidden;
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Фильтры */
.filter_brightness {
  filter: brightness(1.2);
}

.filter_multiple {
  filter: brightness(120%) contrast(130%) saturate(140%);
}

.filter_sepia {
  filter: sepia(50%);
}

.filter_invert {
  filter: invert(100%);
  border-top: var(--filter-invert);
  border-bottom: var(--filter-invert);
}

.filter_blur {
  filter: blur(5px);
}
.filter_hue-rotate {
  filter: hue-rotate(80deg) blur(2px);
}

.filter_grayscale {
  filter: grayscale(0.9);
}
.filter_retro {
  filter: saturate(0.8) contrast(0.9);
}

.label {
  position: absolute;
  top: 30px;
  right: 25px;
  color: var(--contour-color);
  font-size: 14px;
  font-weight: bold;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: var(--font-heading);
}

.label {
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color);

    text-shadow: none;
  }
}

.article {
  font-family: var(--font-family);
  font-size: 18px;
  padding: 25px;
}

.content_text {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}
button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--contour-color);
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--contour-color);
  translate: -100% 0%;
  inset: 0px;
  transition: translate 0.5s ease-in-out;
}

.button:hover::before {
  translate: 0% 0%;
}

.buttons {
  display: flex;
  justify-content: end;
  padding: 0px 25px 24px;
  gap: 7px;
}

.like-icon {
  display: flex;
  align-self: center;
}

.contour   /* контур сердца */ {
  transition: fill 0.1s linear;
}

.main-body   /* основное тело сердца */ {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core   /* сердцевина */ {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks   /* искры */ {
  opacity: 0;
}

.card__like-button {
  background-color: transparent;
  block-size: 38px;
  inline-size: 130px;
  border: var(--border-default);
  position: relative;
  overflow: hidden;
}

.button__text {
  line-height: 50%;
  font-family: var(--font-heading);
  letter-spacing: 1px;
  font-weight: var(--font-variation-settings);
  font-size: 13px;
  letter-spacing: 1px;
  mix-blend-mode: difference;
  color: var(--stroke-color);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.button_type_save {
  width: 304px;
  height: 84px;
  border: var(--border-default);
  background-color: var(--stroke-color);
  position: relative;
  overflow: hidden;
}

.floppy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 21px;
  color: var(--stroke-color);
  block-size: auto;
  position: relative;
  z-index: 1;
}

.dialog .floppy-button {
  inline-size: 39px;
}

.dialog {
  display: none;
  padding: 0;
  border: var(--border-default);
  background-color: var(--stroke-color);
  max-inline-size: 357px;
  inline-size: 100%;
  margin: auto;
}

dialog[open] {
  display: block;
  position: fixed;
  z-index: 1;
  width: 341px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__title {
  font-family: var(--font-heading);
  font-weight: var(--font-variation-settings);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button_type_ok {
  background-color: var(--stroke-color);
  border: var(--border-default);
  position: relative;
  overflow: hidden;
  width: 261px;
  height: 38px;
  margin-bottom: 30px;
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__text {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 30px 40px;
}

@media (width <= 375px) {
  .floppy-button {
    inline-size: 28px;
  }

  .dialog {
    max-inline-size: 341px;
  }

  .button_type_save {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
